.layout_container {
  flex: 1;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

}

.layout_container header {
  height: 140px;
  background-image: url("/images/normal-header-bg.svg");
  background-size: cover;
}
.layout_container header h1 {
  margin: 10px 0 0;
}
.layout_container header h1 a {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 0 30px;
  font-size: 48px;
  font-weight: normal;
  color: #BABFBC;
}