.contents header {
  height: 140px;
  background-image: url("/images/normal-header-bg.svg");
  background-size: cover;
}
.contents header h1 {
  margin: 0;
}
.contents header h1 a {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 0 30px;
  font-size: 48px;
  font-weight: normal;
  color: #BABFBC;
}