@font-face {
  font-family: "Flower_Butterfly";
  src: url(../assets/fonts/花とちょうちょ.ttf);
}
@font-face {
  font-family: "Shelby";
  src: url(../assets/fonts/Shelby.otf);
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: "メイリオ", "Arial", "MS Pゴシック";
  color: #7C7C7C;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

.shelby {
  font-family: Shelby;
  color: #BABFBC;
}
.flower-butterfly {
  font-family: Flower_Butterfly;
  color: #BABFBC;
}
.strong-gray {
  color: #7C7C7C;
}
.add-icon {
  height: 35px;
  width: 35px;
  transform: translate(-15px, 15px);
}
.cancel-icon {
  height: 40px;
  width: 40px;
}
.sort-icon {
  height: 30px;
  width: 30px;
}
.search-icon {
  height: 30px;
  width: 30px;
}

.search {
  font-family: "Shelby", "Flower_Butterfly";
  border: 1px solid #666;
  font-size: 18px;
  padding: 0;
  width: 100%;
  height: 70%;
}