.layout_container {
  flex: 1;
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

}

.layout_container header {
  height: 300px;
  padding: 10px;
  background: #E1FFED;
}
.layout_container header a {
  display: flex;
  justify-content: flex-end;
  color: white;
}
.layout_container header div {
  color: #BABFBC;
  text-align: center;
}
.layout_container header div h1 {
  font-size: 48px;
  font-weight: normal;
}

.layout_container main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.layout_container > div {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 60px;
  width: 100%;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: silver;

  background-color: #111111;

}
