.ReactModal__Overlay {
  margin-top: 200%;
  transition: margin-top 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  margin-top: 0;
}

.ReactModal__Overlay--before-close{
  margin-top: 200%;
}